
.meme-list {
    list-style-type: none;
    padding: 0;
}

.meme-list li {
    margin-bottom: 20px;
    text-align: center;
}

.meme-img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
